*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
  }
  
    
  nav{
    border :transparent;
    margin-top: -2px;
    background:#006598;
    position:absolute;
    top:0;
    bottom:0;
    height:100%;
    left:0;
    width:60px;
    overflow:hidden;
    -webkit-transition:width .2s linear;
    transition:width .2s linear;
  }
  nav .topnav{
  display: inline-flex;
  background-color: #0d4261;
  height: 67px  ;
  }
  .topnav img{
    width:60px;
    font-family: 'Tangerine', serif;
    text-align:center;
    transition:all 0.5s ease;
  }
  .topnav h2{
    margin: auto ;
    size: 60px;
    color: white;
    font-weight: bold;
    display: block;
    width: 150px;
    float: left;
  }
  nav a {
    display: inline-flex;
    position:relative;
    text-decoration:none;
    color:white;
    display:table;
    width:250px;
    height: 50px;
    border-top:1px solid #005698;  
  }
  nav  .notification{
    padding: 15px;
    padding-bottom: 0px;
    font-size: 20px ;
    display: inline-block;  
    height: 50px;
    text-align: left;
  }
  nav .number{
    font-size: 9px ;
    height: 9px;
    width:  9px;
    background-color: #d63031;
    border-radius: 20px;
    color: white;
    text-align: center;
    position: absolute;
    left: 31px;
    padding: 3px;
    border-style: solid;
    border-width: 2px;
  }
  nav .fas{
    font-size: 27px;
    color: black;
  }
  a:hover{
  color:#fff;
  background-color:#3863F4; 
  }
  nav:hover{
    width:220px;
  }
  
  header {
      background-color: #0d4261;
      position: fixed;
      height: 71px;
      display: flex;
      align-items: center;
      width: 100%;
      margin-top:-105px;
  }
  header * {
      display: inline;
  }
  header h2{
    margin-left: 80px;
    margin-top: 4px;
    color: white;
    font-weight: bold;
    display: block;
    width: 150px;
    float: left;
  }
  
  p{
    size: 35px;   
    margin-right:10px;
    margin-left: 10px;
  }
  i{
    margin-right: 10px;
    width: 30px;
  }
  h2{
  color: #e0e0e0;
  font-weight: bold;
  }
  main{
    margin-top:100px;
  }
  .nav{
    margin-left: auto;
  }
  
  header li {
      margin: 20px;
      width: 40px;
  }
  
  header li a {
      color: black;
      text-decoration: none;
  }
  header li i{
      color: black;
      text-decoration: none;
      margin-left:-15px;
  }
  
  .content-table {
          border-collapse: collapse;
          margin: 62px;
          font-size: 0.9em;
          width: 95%;
          border-radius: 5px 5px 0 0;
          overflow: hidden;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }
        
        .content-table thead tr {
          background-color: #82ccdd;
          color: #ffffff;
          text-align: left;
          font-weight: bold;
        }
        
        .content-table th,
        .content-table td {
          padding: 12px 15px;
          text-align: center;
        }
        
        .content-table tbody tr {
          border-bottom: 1px solid #dddddd;
        }
        
        .content-table tbody tr:nth-of-type(even) {
          background-color: #f3f3f3;
        }
        
        .content-table tbody tr:last-of-type {
          border-bottom: 2px solid #009879;
        }
      
    select{
    width: 110px;
    border: none;
    background: transparent;  
    } 